<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body>

    {% if session.logged_in %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Blockchain Client</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard
            </a>
          </li>
            <li class="nav-item active">
              <a class="nav-link" href="/use/voucher">Use Voucher
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/transactions">View Transactions
              </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
     <!-- Vouchers -->
    <div class="container" >
      <div class="row">
        <div class="col-lg-12">

          <div class="card-body">
            <h4 class="card-title">Consume Vouchers</h4>
            <p class="card-text">Click on the voucher corresponding to the value you want to redeem</p>
          </div>

        </div>
      </div>
    </div>
    <div class="container" >
      <div class="row">
        <div class="col-sm-3">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 1</div>
            <div class="card-body">
              <h5 class="card-title">50 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 50 dollars </p>
              <a class="btn btn-primary" id="v1">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 2</div>
            <div class="card-body">
              <h5 class="card-title">50 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 50 dollars </p>
              <a class="btn btn-primary" id="v2">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 3</div>
            <div class="card-body">
              <h5 class="card-title">50 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 50 dollars </p>
              <a class="btn btn-primary" id="v3">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 4</div>
            <div class="card-body">
              <h5 class="card-title">50 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 50 dollars</p>
              <a class="btn btn-primary" id="v4">Redeem</a>
            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 5</div>
            <div class="card-body">
              <h5 class="card-title">100 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 100 dollars </p>
              <a class="btn btn-primary" id="v5">Redeem</a>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 6</div>
            <div class="card-body">
              <h5 class="card-title">100 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 100 dollars </p>
              <a class="btn btn-primary" id="v6">Redeem</a>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 7</div>
            <div class="card-body">
              <h5 class="card-title">100 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 100 dollars </p>
              <a class="btn btn-primary" id="v7">Redeem</a>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 8</div>
            <div class="card-body">
              <h5 class="card-title">100 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 100 dollars </p>
              <a class="btn btn-primary" id="v8">Redeem</a>
            </div>
          </div>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-3">
          <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 9</div>
            <div class="card-body">
              <h5 class="card-title">100 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 100 dollars </p>
              <a class="btn btn-primary" id="v9">Redeem</a>
            </div>
          </div>
        </div>
          <div class="col-sm-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 10</div>
            <div class="card-body">
              <h5 class="card-title">100 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 100 dollars </p>
              <a class="btn btn-primary" id="v10">Redeem</a>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 11</div>
            <div class="card-body">
              <h5 class="card-title">100 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 100 dollars </p>
              <a class="btn btn-primary" id="v11">Redeem</a>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 12</div>
            <div class="card-body">
              <h5 class="card-title">100 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 100 dollars </p>
              <a class="btn btn-primary" id="v12">Redeem</a>
            </div>
          </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 13</div>
            <div class="card-body">
              <h5 class="card-title">500 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 500 dollars </p>
              <a class="btn btn-primary" id="v13">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 14</div>
            <div class="card-body">
              <h5 class="card-title">500 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 500 dollars </p>
              <a class="btn btn-primary" id="v14">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 15</div>
            <div class="card-body">
              <h5 class="card-title">500 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 500 dollars </p>
              <a class="btn btn-primary" id="v15">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 16</div>
            <div class="card-body">
              <h5 class="card-title">500 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 500 dollars </p>
              <a class="btn btn-primary" id="v16">Redeem</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 17</div>
            <div class="card-body">
              <h5 class="card-title">500 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 500 dollars </p>
              <a class="btn btn-primary"  id="v17">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 18</div>
            <div class="card-body">
              <h5 class="card-title">500 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 500 dollars </p>
              <a class="btn btn-primary" id="v18">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 19</div>
            <div class="card-body">
              <h5 class="card-title">500 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 500 dollars </p>
              <a class="btn btn-primary" id="v19">Redeem</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Voucher 20</div>
            <div class="card-body">
              <h5 class="card-title">500 HKD</h5>
              <p class="card-text">Redeem this voucher in exchange of goods of a maximum equivalent value of 500 dollars </p>
              <a class="btn btn-primary" id="v20">Redeem</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <!-- Modal -->
    <div class="modal modal-alert fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">

        <div class="modal-content">

          <div class="modal-header">
            <div class="modal-title col-md-10">Confirm transaction details, enter a blockchain node url and click on "Confirm Transaction" to finalize your transaction.</div>
            <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">
            <form id="confirmation_transaction_form">
              <div class="form-group">
                <label class="col-sm-12">Approved Operator:</label>
                <select class="form-control" name="approved_operator" id="approved_operator">
                  <option value="http://127.0.0.1:5001" selected="selected">Octopus</option>
                  <option value="http://127.0.0.1:5002">PayMe</option>
                  <option value="http://127.0.0.1:5003">AliPay</option>
                </select>
              </div>

              <div class="row">
                <label class="col-sm-12">Voucher Number:</label>
                <div class="col-sm-12">
                  <input type="text" name="voucher_number" id="confirmation_voucher_number" rows="2" class="form-control" readonly>
                </div>
              </div>

              <div class="row">
                <label class="col-sm-12">Voucher Value:</label>
                <div class="col-sm-12">
                  <input type="text" name="voucher_value" id="confirmation_voucher_value" rows="2" class="form-control" readonly>
                </div>
              </div>


              <div class="row">
                <label class="col-sm-12">Voucher</label>
                <div class="col-sm-12">
                  <input type="text" name="voucher" id="confirmation_voucher" rows="2" class="form-control" readonly>
                </div>
              </div>


            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" id="button_confirm_transaction" class="btn btn-success">Confirm Transaction</button>
          </div>

        </div>

      </div>
    </div>


    <!-- Alert Message for successful transaction -->
    <div class="modal modal-alert fade" id="success_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Successful Transaction!</h4>
              <p>You successfully completed your transaction. It will be added to the next block.</p>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" id="button_confirm_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
          </div>

        </div>
      </div>
    </div>

    <div class="modal modal-alert fade" id="fail_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Failed Transaction!</h4>
              <p>The transaction could not be validated.</p>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" id="button_confirm_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
          </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      var v_id;

      $(function () {
          $("[id^=v]").click(function () {
            console.log("CLICKKKKKK")
            console.log(event.target.id)

            v_id =  event.target.id.toString().substr(1)
            console.log(v_id)


            $.ajax({
              url: "/generate_initial/voucher",
              type: "POST",
              dataType : 'json',
              data: {voucher_number: v_id},
              success: function(response){
                console.log("The initial voucher",response)
                var voucher  = {
                  voucher: response["voucher_data"],
                  signature_client: response["signature_client"],
                  signature_server: response["signature_server"]
                }

                // document.getElementById("approved_operator").value = response["registration"]["approved_operator"];
                document.getElementById("confirmation_voucher_number").value = response["voucher_data"]["voucher_number"];
                document.getElementById("confirmation_voucher_value").value = response["voucher_data"]["value"];
                document.getElementById("confirmation_voucher").value = JSON.stringify(voucher);
                // document.getElementById("applicant_public_key").value = response["public_key"];

                $("#basicModal").modal('show');

              },
              error: function(error){
                console.log(error);
              }
            });

          });
      });


      $(function () {
          $("#button_confirm_transaction").click(function () {
            //console.log($('#confirmation_transaction_form').serialize());
          console.log("The operator is",document.getElementById("approved_operator").value)
            console.log("Vala",document.getElementById("confirmation_voucher").value)

            $.ajax({
              url: "/generate/voucher",
              type: "POST",
              dataType : 'json',
              data: {voucher_number: v_id},
              success: function(response){
                console.log("The finalized voucher",response)
                $.ajax({
                  url: document.getElementById("approved_operator").value + "/confirm/voucher",
                  type: "POST",
                  headers: {'Access-Control-Allow-Origin':'*'},
                  dataType : 'json',
                  data: response,//document.getElementById("confirmation_voucher").value.,
                  success: function(response){
                    console.log("The voucher has been approved",response)

                    // //reset both forms
                    // $("#transaction_form")[0].reset();
                    // $("#confirmation_transaction_form")[0].reset();
                    //
                    // //clean text boxes
                    // $("#confirmation_voucher_number").val("");
                    // $("#confirmation_voucher_value").val("");
                    // $("#confirmation_voucher").val("");


                    $("#basicModal").modal('hide');
                    $("#success_transaction_modal").modal('show');

                  },
                  error: function(error){
                    $("#basicModal").modal('hide');
                    $("#fail_transaction_modal").modal('show');
                    console.log(error);
                  }
               });

              },
              error: function(error){
                console.log(error);
              }
            });


          });
      });

    </script>

    {% else %}

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card-body">
            <p class="card-text">Unauthorized access, you must be logged in the system to view this page.</p>
          </div>
        </div>
      </div>
    </div>

    {% endif %}




  </body>

</html>
